<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatissample.mapper.ParentMapper">

    <select id="selectAll" resultType="com.example.mybatissample.model.Parent">
        SELECT * FROM parent
    </select>

    <select id="count" resultType="Long">
        SELECT COUNT(*) FROM parent
    </select>
</mapper>